# ROS2 build outputs
build/
install/
log/

# Generated or temporary files
src/build/
src/install/
src/log/
*.bak
*.tmp

# Bags / database / videos
*.bag
*.db3
*.mcap
*.mp4
*.avi
*.mov

# Archives
*.zip
*.tar
*.tar.gz
*.7z

# Editor
.vscode/
.idea/
__pycache__/
*.pyc

# Docker local files
*.tar
*.tar.gz

# Generated URDF
src/bcr_arm_description/urdf/bcr_arm.urdf
