<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================= -->
  <!-- ros2_control 硬件接口定义 -->
  <!-- ========================= -->

  <xacro:macro name="bcr_arm_ros2_control" params="name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- 这个插件让 ros2_control 
         能和 Ignition Gazebo 仿真器通信，读取/发送关节数据。 -->
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>

      <joint name="joint1">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint2">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint3">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint4">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint5">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint6">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint7">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <!-- Gazebo 插件，加载控制器 YAML 配置 -->
    <gazebo>
      <plugin filename="ign_ros2_control-system"
              name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find bcr_arm_gazebo)/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>